.info-utilisateur-public{
  width:600px;
  margin-left:20px;
  margin-top:20px;
  font-family:'Franklin Gothic Demi';

}

.info-utilisateur-public p,h1{
  display:inline;
  margin-left: 10px;
}

.info-utilisateur-public .avatar-public{
  float:left;
}

.zone-bouton-follow a:hover{
  color:#fff;
  border:solid #fff 2px;
  border-radius:5px;
  padding:5px;
  font-weight:bold;
  background:#e42323;
}

.zone-bouton-follow a{
  color:#e42323;
  border:solid #e42323 2px;
  border-radius:5px;
  padding:5px;
  font-weight:bold;
  background:#fff;
}

.zone-bouton-follow{
  margin-top:15px;
  margin-left:180px;
  width:300px;
  padding:20px;
}

.news-profil{
  margin-top:100px;
}

.follow-du-profil{
  border:2px solid rgba(228,35,35, 0.5);
  margin-left:15px;
  width:500px;
  display:inline-block;
  border-radius:5px;
  padding-left:5px;
  padding-right:5px;
}

.follow-du-profil img{
  width:50px;

}

.follow-du-profil h2{
  font-family : 'LemonMilk';
  text-align:center;
}

.followers-du-profil{
  display:inline-block;
  border:2px solid rgba(228,35,35, 0.5);
  border-radius:5px;
  width:500px;
  padding-left:5px;
  padding-right:5px;

}

.followers-du-profil h2{
  font-family : 'LemonMilk';
  text-align:center;
}


.followers-du-profil img{
  width:50px;

}
